.interest {
    border: 0;
    padding: 0;
    margin: 0;
    background-color: lightslategray;
    height: 200px;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}
.interest-title{
    margin: 0;
    padding-top: 50px;
    padding-left: 160px;
    text-align: start;
    font-size: 25px;
}
.interest-info{
    padding-left: 150px;
    padding-right: 150px;
    font-size: 16px;
    text-align: start;
}